{% load staticfiles %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center"><img class="mainLogo" src="{% static 'base/images/logo1.png' %}"</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="">ABOUT</a></li>
            <li><a href="{% url 'posts:list_post' %}">BLOG</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
            <li><a href="">{{ request.user.username }}</a></li>
            <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="">Sass</a></li>
            <li><a href="">Components</a></li>
            <li><a href="">Javascript</a></li>
            <li><a href="">Mobile</a></li>
        </ul>
    </div>
</nav>
