{% extends 'base/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block pagetitle %}{% endblock %}
{% block content %}
<main>
    <div class="conainer">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="card-panel">
                    <h4>{{ title }}</h4>
                    <form action="" method='post'>
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <div class="row">
                            <div class="col s12">
                                <button type="submit" name="post-btn" class="btn waves-effect waves-light left primary-color">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
