{% extends 'base/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block pagetitle %}{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <h4>{{ post.title }}</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
                <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">Twitter</a>
                <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
                <!-- <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ share_string }}&source={{ request.build_absolute_uri }}">Linkedin</a> -->
                {% if post.image %}
                <img src="{{ post.image.url}}" />
                {% endif %}
                <br>
                {{ post.timestamp }}<br>
                {{ post.content | linebreaks }}<br>
            </div>
        </div>
    </div>
</main>
{% endblock %}
