{% extends 'base/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block pagetitle %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card-panel">
            <h4>Login</h4>
            <form action="{% url 'login' %}" method='post'>
                {% csrf_token %}
                {% form form=form %}
                    {% part form.username prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                    {% part form.password prefix %}<i class="mdi-action-lock-open prefix"></i>{% endpart %}
                {% endform %}
                <div class="row">
                    <div class="col s12">
                        <button type="submit" name="login" class="btn waves-effect waves-light left">Log In</button>
                    </div>
                    <div class="col s12">
                        <a href="{% url 'signup' %}">Create an account</a>
                    </div>
                    <div class="col s12">
                        <a href="{% url 'forgot_password' %}">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
