/*
 * All Globals
 *
 **/
 html {
     background-color: #ddd;
 }
.primary-color {
    background-color: #3B89B6;
}
* {
    color: black;
}
 /*
  * Navbar
  **/
.mainLogo {
    height: 59px;
    width: auto;
}
nav ul a {
    color: #9E9E9E;
}
nav ul a:hover {
    color: #3B89B6;
}
nav ul li:hover {
    background-color: #fff;
}
i.fa.fa-bars {
    color: #9E9E9E;
    margin-left: 10px;
}
nav {
    /*background-color: #3B89B6;*/
    background-color: #fff;
}

/*
 * Dashboard
 **/
.mdi-navigation-menu {
    display: none;
}
.side-nav li, .side-nav li a {
    height: 46px;
    line-height: 3.2;
    padding: 0;
}
.dashboard-side-nav {
    top: 64px;
}
li.dashboard-header {
    padding: 0 !important;
    height: 180px !important;
}
.dashboard-header:hover {
    background-color: #fff !important;
}
.dashboard-header img {
    width: 100%;
    height: 180px;
}
.custom-dashboard-container {
    padding: 0 0 0 23px;
    margin-right: 0;
    margin-left: 230px;
    width: 75%;
}
.side-nav.fixed a {
    color: #757575;
    width: 100%;
    padding: 0 30px;
}
/*
 * Posts list
 **/
.card .card-image img {
    min-height: 400px;
    max-height: 500px;
}

/*
 * Media Query dashbaord
 **/
@media only screen and (max-width: 992px) {
.side-nav.fixed {
    left: 0 !important;
}
